.navbar-brands {
	float: left;
    height: 50px;
    padding: 0px;
    font-size: 18px;
    line-height: 20px;
}

.menu {
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	color: #181717;
	letter-spacing: 1px;
}

a {
	color: #181717;
}

.carousel{
    background: #FFFFFF;
    margin-top: 50px;
}
.carousel .item img{
    margin: 0 auto; 
}
#ABOUT{
	height: 200px;
	text-align: center;
	font-family: 'Lobster', cursive;
	font-size: 3em;
	background-color: #FF7700;
	text-shadow: 0.05em 0.05em white;
}
#DONATEPIC{
	margin-top:50px


}



}
<<<<<<< Updated upstream

.icon-bar {
	color: black;
	background-color: white;
=======

>>>>>>> Stashed changes
}